/* ==================================================================================*/
/* = TV CHANNELS LOGOS ==============================================================*/
/* ==================================================================================*/
.background{
    position: absolute;
    top: 0%;
    left: 0em;
    right: 1em;
    bottom: 0%;
    /* [SNI]
	margin: auto;
	*/
    max-width: 320px;
    justify-content: left;
	box-shadow: inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
    /* [SNI]
    padding: 1em 1em 0em 1em;
	background-image: radial-gradient(circle at 50% 0,transparent,rgba(0,0,0,0.8));
	*/
    background-color: #252a2e;
    border-radius: 4px;
    overflow-y: auto;
}
/*
.testTv{
	background-image    : url("/forSite/res/[100x100] testTV.png")  !important;
}
.tv8{
	background-image    : url("/forSite//res//[100x100] tv8.png")!important;
	background-size     : 60px 60px;
}
.realTime{
	background-image    : url("/forSite//res//[100x100] realTime.png")!important;
}
.paramountNetwork{
	background-image    : url("/forSite//res//[100x100] paramount_network.png")!important;
    background-size     : 60px 60px;
}
.paramountSpike{
	background-image    : url("/forSite//res//[100x100] paramount_spike.png")!important;
    background-size     : 60px 60px;
}
.paramountVh1{
	background-image    : url("/forSite//res//[100x100] paramount_vh1.png")!important;
    background-size     : 60px 60px;
}
.nove{
	background-image    : url("/forSite//res//[100x100] nove.png")!important;
    background-size     : 60px 60px;
}
.dmax{
	background-image    : url("/forSite//res//[100x100] dmax.png")!important;
    background-size     : 60px 60px;
}
.rai1{
	background-image    : url("/forSite//res//[100x100] rai1.png")!important;
	background-position : 0px;
}
.rai2{
	background-image    : url("/forSite//res//[100x100] rai2.png")!important;
	background-position : 0px;
}
.rai3{
	background-image    : url("/forSite//res//[100x100] rai3.png")!important;
	background-position : 0px;
}
.rai4{
	background-image    : url("/forSite//res//[100x100] rai4.png")!important;
	background-position : 0px;
}
.italia_america{
	background-image    : url("/forSite//res//[100x100] italiaAmerica.png")!important;
}
.extra{
	background-image    : url("/forSite//res//[100x100] extra.png")!important;
}
.la5{
	background-image    : url("/forSite//res//[100x100] la5.png")!important;
}
._20{
	background-image    : url("/forSite//res//[100x100] 20.png")!important;
}
._27{
	background-image    : url("/forSite//res//[100x100] 27.png")!important;
}
.iris{
	background-image    : url("/forSite//res//[100x100] iris.png")!important;
}
.topCrime{
	background-image    : url("/forSite//res//[100x100] topCrime.png")!important;
}
.cine34{
	background-image    : url("/forSite//res//[100x100] cine34.png")!important;
}
.boing{
	background-image    : url("/forSite//res//[100x100] boing.png")!important;
}
.cartoonito{
	background-image    : url("/forSite//res//[100x100] cartoonito.png")!important;
}
.tgcom24{
	background-image    : url("/forSite//res//[100x100] tgcom_24.png")!important;
}
.radio101{
	background-image    : url("/forSite//res//[100x100] radio101_tv.png")!important;
}
.radio105{
	background-image    : url("/forSite//res//[100x100] radio105_tv.png")!important;
}
.virginRadio{
	background-image    : url("/forSite//res//[100x100] radioVirgin_tv.png")!important;
}
.radioMonteCarlo{
	background-image    : url("/forSite//res//[100x100] radioMonteCarlo_tv.png")!important;
	background-size     : clamp(2.5em, -1rem + 5vw, 5em) clamp(2.5em, -1rem + 5vw, 5em);
}
.failarmy{
	background-image    : url("/forSite//res//[100x100] failarmy.png")!important;
	background-size     : clamp(2.5em, -1rem + 5vw, 5em) clamp(2.5em, -1rem + 5vw, 5em);
}
.fueltv{
	background-image    : url("/forSite//res//[100x100] fuel_tv.png")!important;
	background-size     : clamp(2.5em, -2rem + 3vw, 3.5em) clamp(2.5em, -2rem + 3vw, 3.5em) !important;
}
*/
.rai_unoHd_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rai_unoHd_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.rai_dueHd_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rai_dueHd_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.rai_treHd_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rai_treHd_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.rete4_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_rete4_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.canale5_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_canale5_bg.png") no-repeat no-repeat !important;
	background-size     : 100% 100% !important;
}
.italia1_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_italia1_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.La7_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/La7_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.Tv8_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Tv8_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.italia2_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_italia2_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.focus_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_focus_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.extra_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_extra_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.la5_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_la5_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
._20_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_20_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}

.boing_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_boing_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.cartoonito_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_cartoonito_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.tgcom24_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_tgCom24_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.radioMontecarlo_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_radioMontecarlo_bg") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.teletubbies_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/teletubbies_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.azione_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/rakuten_tv_azione_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.cinemaItaliano_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/rakuten_tv_cinemaItaliano_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.commedia_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/rakuten_tv_commedia_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.dramma_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/rakuten_tv_dramma_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.filmTop_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/rakuten_tv_filmTop_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.romance_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/rakuten_tv_romance_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.thriller_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/rakuten_tv_thriller_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
