/* ==================================================================================*/
/* = TV CHANNELS LOGOS ==============================================================*/
/* ==================================================================================*/
.background{
    /* [css issue] =================================================================== 
	position: absolute;
    top: 0%;
    left: 0em;
    right: 1em;
    bottom: 0%;
	*/
    /* [SNI]
	margin: auto;
	*/
    max-width: 320px;
    /* [css issue] ===================================================================
	justify-content: left;
	*/
	box-shadow: inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
    /* [SNI]
    padding: 1em 1em 0em 1em;
	background-image: radial-gradient(circle at 50% 0,transparent,rgba(0,0,0,0.8));
	*/
    background-color: #252a2e;
    border-radius: 4px;
    overflow-y: auto;
}
/*
.testTv{
	background-image    : url("/forSite/res/[100x100] testTV.png")  !important;
}
.italia_america{
	background-image    : url("/forSite//res//[100x100] italiaAmerica.png")!important;
}
*/
.rai_unoHd_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rai_unoHd_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.rai_dueHd_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rai_dueHd_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.rai_treHd_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rai_treHd_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.rete4_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_rete4_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.canale5_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_canale5_bg.png") no-repeat no-repeat !important;
	background-size     : 100% 100% !important;
}
.italia1_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_italia1_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.La7_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/La7_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.Tv8_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Tv8_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.nove_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Discovery+_nove_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
._20_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_20_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.rai_quattroHd_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rai_quattroHd_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.iris_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_iris_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
._27_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_27_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.la5_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_la5_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.realTime_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Discovery+_realTime_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.cine34_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_cine34_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.focus_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_focus_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.topCrime_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_topCrime_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.boing_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_boing_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.k2_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Discovery+_k2_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.cartoonito_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_cartoonito_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.italia2_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_italia2_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.tgcom24_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_tgCom24_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.dMax_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Discovery+_dMax_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.extra_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_extra_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.iuniorTv_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/iuniorTv_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.warnerTv_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Discovery+_warnerTv_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.giallo_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Discovery+_giallo_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}


.radio101_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_radio101_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.radio105_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_radio105_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.radioVirgin_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_radioVirgin_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.radioMontecarlo_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Mediaset_radioMontecarlo_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.teletubbies_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/teletubbies_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.azione_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_azione_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.cinemaItaliano_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_cinemaItaliano_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.commedia_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_commedia_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.dramma_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_dramma_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.filmTop_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_filmTop_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.romance_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_romance_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.family_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_family_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.cineWestern_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_cineWestern_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.andromeda_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_andromeda_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.sciFi_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_sciFi_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.fantascienza_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_fantascienza_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}
.drWho_bg{
	background          : url("https://phobetor1999.github.io/Website/wwwsys/app/res/img/tvChannelsBackgrounds/Rakuten_tv_drWho_bg.png") no-repeat no-repeat !important;
	box-shadow          : inset 0px 0px 1px 1px hsl(0deg 0% 100% / 32%);
	background-size     : 100% 100% !important;
}