@import url("./nav-bar.css");

/* ========================================== */
/* == COMPONENT LAYOUT ====================== */
/* ========================================== */
HEADER {
	z-index          : 800;
	position         : fixed;
	width            : 100%;
}

/* ========================================== */
/* == COMPONENT STYLE ======================= */
/* ========================================== */
HEADER {
	background       : var(--background-color);
	text-align       : center;
}

@media screen and (min-width: 800px){
	HEADER {
		display      : grid;
		/*grid-tempate-columns: 1fr auto 1fr; */
	}
}