

/* ========================================== */
/* == COMPONENT LAYOUT ====================== */
/* ========================================== */
FOOTER {
	z-index          : 800;
	position         : fixed;
	bottom           : 0em;
	left             : 0em;
	right            : 0em;
}

/* ========================================== */
/* == COMPONENT STYLE ======================= */
/* ========================================== */
FOOTER {
	height           : clamp(1em, -1rem + 6vw, 3em);
	background       : var(--background-color);
	display          : flex;
	align-items      : center;
	padding          : 1em;
	font-size        : clamp(8px, -1rem + 6vw, 14px);
}